<div class="schedule-display">
    <div class="calendar" id="schedule-calendar"></div>

    <div class="day-info">
        <div class="day-schedule" id="day-schedule"></div>

        <div class="schedule-control">
            {% comment %} <button class="schedule-btn" id="add-schedule-interval" disabled>Добавить с интервалом</button> {% endcomment %}
            <button class="schedule-btn" id="add-schedule" disabled>Добавить</button>
        </div>
    </div>
</div>
<script src="/static/doctors/js/doctor-schedule.js"></script>
