html {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}

body {
    display: flex;
    flex: 1;
    background-color: #c59cffd4;

    .container {
        margin: auto;
        width: unset;
        padding: 2rem;
        background-color: aliceblue;
        border-radius: 1rem;

        .login-btn-block {
            display: flex;
            justify-content: center;
        }

        .login-title {
            margin: 3rem auto;
            font-weight: bold;
            font-size: 4rem;
            text-align: center;
        }

        .form-horizontal {
            max-width: 60rem;
            margin: auto;
        }

        .form-group {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin-right: unset;
            margin-left: unset; 

            label {
                flex: 1;
            }

            input {
                flex: 5;
                width: unset;
            }
        }
    }
}


