{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Личный кабинет</title>
    {% include 'imports.html' %}
    <link rel="stylesheet" href="{% static 'main_pages/styles/index.css' %}">
    <script>const userType = "{{ user_type }}"</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/locales/bootstrap-datepicker.nl.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.standalone.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="{% static 'users/styles/personal_cabinet.css' %}">
</head>
<body class="page-index">

    {% with authorized=authorized_status %}
        {% include 'header.html' %}
    {% endwith %}


    <div class="page-content personal-cabinet">
        <div class="container">

            <div class="page-block">
                <div class="user-block">

                    <div class="user-info disabled">
                        
                        <h1>Профиль</h1>

                        <div class="fio">
                            <p>{{ user.lastname }}</p>
                            <p>{{ user.firstname }}</p>
                            {% if user.surname %} <p>{{ user.surname }}</p> {% endif %}
                        </div>
                        <label class="user-field">Дата рождения <input id="user-birthdate" value="{{ user.birthdate }}" type="date"></label>
                        <label class="user-field">Email <input id="user-email" type="email" value="{{ user.email }}"></label>
                        <!-- <label class="user-field">Номер телефона <input id="user-phone" value="{{ user.phone }}"></label> -->
                        <label class="user-field">Паспорт <input id="user-passport" value="{{ user.passport }}"></label>
                        <label class="user-field">Медицинский полис <input id="user-med_policy" value="{{ user.med_policy }}"></label>
                    </div>
                    <button id="edit-info-btn" onclick="userInfoEdit(this)">Редактировать</button>

                </div>

                <div class="workspace">
                    
                    <div class="workspace-container">
    
                        <div class="nav-menu">
                            <button name="user-appointments" id="user-appointments">Ваши записи</button>
                            <button name="appointment" id="appointment">Запись к врачу</button>
                            <button name="consultation" id="consultation">Запись на консультацию</button>
                            <button name="history" id="history">История</button>
                        </div>

                        <div class="workspace-content" id="workspace-viewer"></div>

                    </div>


                </div>
            </div>

        </div>
    </div>

    <script src="{% static 'main_pages/js/handlers.js' %}"></script>
    <script src="{% static 'users/js/patient-profile.js' %}"></script>
    
</body>
</html>
